<div class="warpper">
  <mat-toolbar>  
    <mat-toolbar-row >
      <div class="search-form">
        <span>
          <mat-icon aria-hidden="false" aria-label="Example search icon" class="search-icon">search</mat-icon>
          <mat-form-field appearance="none">
            <input matInput placeholder="Search Instagram">
          </mat-form-field>
        </span>

      </div>
      <div class="buttons">
        <div class="add">
          <button mat-button mat-mini-fab>+</button>
        </div>
      </div>
      <div class="settings">
        <mat-icon aria-hidden="false" aria-label="Example setting icon">settings</mat-icon>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
